*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    background-color: #E0FBFC;
    /* #4787E9 */
    /* background-color: #4787E9;  */
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}
img{
    max-width: 100%;
}
/* MAIN */
.main-content{
    /* background-color: #E0FBFC; */
    display: grid;
    grid-template-rows: repeat(3, 33.33%);
    grid-template-columns: 100%;
    /* grid-template-columns: auto; */
    place-items: center;
    width: 100%; /* Revisar los siguientes width */
}
/* SECTION */
.product-cards{
    /* margin: 0 auto; */
    /* margin: 4.5rem auto; */
    padding: 2rem 1.5rem;
    width: 100%
}
/* ARTICLE */
.product-item{
    border: 1px solid #4787E9;
    border-radius: 3rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    display: grid;
    grid-template-rows: repeat(3, 33.33%);
    grid-template-columns: 100%;
    /* grid-template-columns: auto; */
    padding: 2rem;
    /* padding: .5rem 0; */
    width: 100%;
}
/* *********************************************** */

/* figure */
.product__figure{
    background-color: #739ddd;
    /* border: 1px solid #6198eb; */
    border-radius: 7rem;    
    margin: 0 auto;
    width: 100%;
}
.product__figure img{
    /* border: 1px solid #8dafe2; */
    border-radius: 50% 200% 50% 10% / 200% 100% 100% 50%;
    /* border-radius: 50% 100% 50% 10% / 200% 100% 100% 100%; */
}
/* *********************************************** */

/* producto info */
.product-info{
    /* outline: 1px solid red; */
    display: flex;
    flex-direction: column;
    padding: .5rem;
    width: 100%;
    /* padding: 1rem; */
}
.product-info p:nth-child(1){
    background-color: #191847;
    border-radius: 2rem;
    color: #A5A4B6;
    font-size: 1rem;
    text-align: center;
    width: 8rem;
}
.product-info h2{
    font-size: 2rem;
    margin-bottom: 1rem;
    padding: .5rem;
    /* padding: .5rem 0; */
    /* padding: 1rem; */    
}
.product-info small{
    font-size: 1rem;
}
.product-info small, .product-info h6{
    padding-left: 1rem;
    /* padding-left: 1.5rem; */
}
.product-info h6{
    font-size: 1.8rem;
}
.product-info p:nth-child(5){
    /* margin-bottom: 1rem; */
    padding: 1rem;
    
}
/* box primary buton */
.product-button{
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* padding: 1.5rem 0; */
}
.product-info ul{
    font-size: 1.2rem;
    /* margin-bottom: 1rem; */
    text-align: center;
}

/* primary button */
.primary-button{
    background-color: #4787E9;
    border: none;
    border-radius: .8rem;
    color: #FFFAFA;
    cursor: pointer;    
    font-size: 1.6rem;
    font-weight: bold;
    height: 5rem;
    /* max-width: 100%; */
    /* width: 100%; */
}
.secondary-button{
    background-color: #e4e4e4ee;
    /* background-color: #a7a7a7; */
    border: 1px solid #4787E9;
    /* border: none; */
    border-radius: .5rem;
    color: #4787E9;
    /* color: #1b1b1b; */
    cursor: pointer;
    /* font-weight: bold; */
    /* font-size: 1.6rem; */
    height: 3rem;
    width: 40%;
}
/* *********************************************** */

/* box option button */
.options-button{
    /* outline: 1px solid red; */
    margin: 1rem 0;
    /* padding: 1rem; */
    display: flex;
    justify-content: space-around;
    height: auto;
    width: 100%;
}
.buttons-opt{
    /* margin-left: 2rem; */
    display: flex;
    align-items: center;
    justify-content: center;
}
/* *********************************************** */

/* *********************************************** */
/* MEDIAQUERIES */
@media screen and (min-width: 480px){
    /* MAIN */
    .main-content{
        background-color: #4787E9;
        /* margin: 2rem 0; */
    }
    /* *********************************************** */

    /* SECTION */
    /* .product-cards{} */
    /* *********************************************** */
    
    /* ARTICLE */
    .product-item{
        border: none;
        background-color: #E0FBFC;        
        border-radius: 10% 10% 10% 10%;
        /* padding: 1rem 0;         */
        /* padding: 0 1.5rem; */
        /* height: 100vh; */
    }
    /* *********************************************** */

    /* figure */
    .product__figure{
        width: 70%;
    }
    /* *********************************************** */

    /* producto info */
    .product-info h2{
        /* padding: .5rem 0; */
        font-size: 2.2rem;
    }
    /* PRECIOS Y DESCUENTO */
    .product-info small{
        font-size: 1.1rem;
    }
    /* .product-info h6{
        font-size: 2rem;
    } */

    /* DESCRIPTION */

    /* box primary buton */
    /* .product-info button:nth-child(6){
        align-self: center;
        width: 55%;
    } */
    .product-button{
       align-self: center;
       /* width: 60%; */

    }
    /* *********************************************** */

    .secondary-button{
        /* height: 3.2rem; */
        width: 35%;
    }
    /* *********************************************** */
}

@media screen and (min-width: 576px){

    /* SECTION */
    .product-cards{
        /* margin: 0 auto; */
        /* margin: 4.5rem auto; */
        padding: 2.0rem;
        width: 95%
    }
    /* *********************************************** */

    /* ARTICLE */
    .product-item{
        /* outline: 1px solid red; */
        /* margin: 1rem; */
    }
    /* *********************************************** */

    /* producto info */
    .product-info{
        /* outline: 1px solid red; */
        /* margin: 0 auto; */
        /* padding: 2rem; */
        padding: 1rem 2rem;
        /* padding: 0 1.5rem; */
    }
    .product-info h2{
        font-size: 2.5rem;
        padding: 0 1rem;
    }
    .product-info small{
        font-size: 1.2rem;
    }
    .product-info h6{
        font-size: 2.5rem;
    }
    /* *********************************************** */
}

@media screen and (min-width: 768px){
    /* MAIN */
    .main-content{}
    /* *********************************************** */
    
    /* SECTION */
    .product-cards{
        width: 90%;
        /* width: 100%; */
    }
    /* *********************************************** */

    /* ARTICLE */
    .product-item{
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: auto;
        /* grid-template-rows: 100%; */
        place-items: center;
        padding: 1rem;
        /* gap: 0 1rem; */
    }
    /* *********************************************** */

    /* figure */
    .product__figure{
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        width: 90%;
        /* width: auto; */
    }
    /* *********************************************** */

    .product-info{
        /* outline: 1px solid red; */
        /* align-content: center; */
        padding: 1rem;
    }
    /* *********************************************** */

    /* .options-button{
        align-self: flex-start;
    } */
    /* *********************************************** */
}